{{> layout/header}}

<div class="container p-5">
    <div class="card">
        <div class="card-header"><b>익명 글쓰기 화면입니다</b></div>
        <div class="card-body">
            <form action="#">
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Enter author" id="author">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Enter title" id="title">
                </div>
                <div class="mb-3">
                    <textarea class="form-control" rows="5" id="content"></textarea>
                </div>
                <button onclick="btnWrite()" type="button" class="btn btn-primary form-control">글쓰기완료</button>
            </form>
        </div>
    </div>
</div>

<script>
    function btnWrite() {
        // alert("클릭되나?")

        // 1 인풋태그 아이디 값 세개 가져오기
        let board = {
            title: $("#title").val(),
            content: $("#content").val(),
            author: $("#author").val()
        };
        console.log(board);

        // 2. 제이슨 변경
        let boardjson = JSON.stringify(board);
        console.log(boardjson)

        // 3. ajax 요청
        // 4. 실패했을 때, 성공했을 때
        $.ajax({
            url: "/api/boards",
            type: "post",
            data: JSON.stringify(board),
            contentType: "application/json; charset=utf-8"
        }).done((res)=>{
            location.href = "/";
        }).fail((res)=>{
            alert(res.responseJSON.msg)
        })

    }
</script>

{{> layout/footer}}

